html, body {
	
	width: 100%;
	height: 100%;
	
}

body {
	background-color: lightgreen;
	color: #333;
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.container{
	clear:both;
	border-style: solid;
}
.itemImage{
	margin: 10px;
	float: left;
	height: 15%;
	width: 33%;
}
.itemImage > img{
	margin: 10px;
	float: left;
	height: 100%;
	width: 100%;
	border: groove;
}
.itemDescription{
	float:left;
	width: 45%;
	height: 450px;
	font-size: 25px;
	margin-top: 6%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.itemButton{
	margin-top: 2%;
	float: left;
	width: 20.5%;
	height: 5%;
}
#addReview{
	width: 20.5%;
	float: right;
	height: 5%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}
input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* #titleBar{
    width: 100%;
    text-align: center;
}
#forUserInput{
	width: 100%;
	text-align: center;
} */
.purchaseButton{
	float: right;
}
footer {
	position: relative;
	margin: 0;
	padding: 0;
	height: 4%;
	clear: both;
	color: white;
	background-color: #333;
	text-align: center;
	font-size: 25px;
}
