<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Svelte app</title>

	<link rel='icon' type='image/png' href='/favicon.png'>
	<link rel='stylesheet' href='global.css'>
	

	<link rel='stylesheet' href='/build/bundle.css'>

	<script defer src='/build/bundle.js'></script>
</head>

<body>
	
	<div id="titleBar">
        <h1>Login to your Nursey Online Account Below</h1>
    </div>
    <div id="forUserInput">
        <form id="loginForm">
			<label for="username">Username</label>
			<input type="text" id="username" name="username">
			<label for="password">Password</label>
			<input type="text" id="password" name="password"><br>
			<input type="submit" id="submit" value="Submit" onclick="loginConfirmation_Click();">
		</form>
		

    </div>
	

</body>
</html>
